<a href="https://colab.research.google.com/github/vleon777/Python_Basics/blob/main/Week1_Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Example: Making a list and selecting an item from it. To Remember: number 0 is the first index. Extra: If we use negative numbers starts from the end.

In [29]:
unic23 = ["panda", "mariposa", 187, "Box"]
print (unic23[0])

panda

 Part 1 – Exercises (Variables, Data Types, Operators)
 Part 1: Variables

Create a variable with your name and another with your age.

Print a message that uses both variables in the same sentence.

Update the value of the “age” variable by adding 5, and print the message again.

In [25]:
Name = "Vicente"
Age = 30
print (Name, Age)
Age = Age + 5
print (Name, Age)

Vicente 30
Vicente 35

Part 2: Data Types

Create 4 variables, each with a different type:

String (text)

Integer (whole number)

Float (decimal number)

Boolean (True/False)

Use type() to show the type of each variable.

Add a short comment in your notebook explaining when you would use each type.

In [26]:
dragon = "dragon"
number = 7
decimal = 4.9
boolean = True
print (type(dragon))
print (type(number))
print (type(decimal))
print (type(boolean))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

Part 3: Operators

Create two numeric variables, for example a and b.

Apply the following operators and print the result of each:

Addition

Subtraction

Multiplication

Division

Floor division (integer division)

Modulus (remainder of a division)

Exponentiation

In [36]:
a = 13
b = 7
print (a +b)
print (a -b)
print (a *b)
print (a /b)
print (a //b)
print (a % b)
print (a ** b)

20
6
91
1.8571428571428572
1
6
62748517

Part 4: Mini Project

Ask the user to input their name and age (using input()).

Store that information in variables.

Print a message that says:

"Hello [name], next year you will be [age+1] years old."

In [42]:
name = input("What is your name? ")
age = input("What is your age? ")
print ("Hello", name, "next year you will be", int(age) +1, "years old.")

What is your name? john
What is your age? 12
Hello john next year you will be 13 years old.

we use int(age)+1 if we require integral numbers, dont use strings.